<div class="container-fluid">
  <div class="row">
      <div class='col-md-6'>
            <img src='../../assets/img/404_err.png'/>
      </div>
      <div class="col-md-6" style='margin-top:30px;'>
          <div class="error-template">
              
              <h1>Oops!</h1>
              <h2>404 Page Not Found</h2>
              <div class="error-details">
                  We can't seem to find the page you're looking for.
              </div>
              <div class="error-actions">
                  <a routerLink="/" class="btn btn-primary btn-lg">
                      <span class="glyphicon glyphicon-home"></span>
                        Take Me Home 
                  </a>
              </div>
          </div>
      </div>
  </div>
</div>