<div class='container-fluid'>
        
            <div class='login'>
                <div class='text-center' style='margin-bottom:35px'>
                    <img src="../assets/img/neo-white2.png" 
                    
                    style='width: 80px; display: inline; border-right: 1px solid #fff;
                    padding-right: 10px;'> 
                    <img *ngIf='isProduction' src="../assets/img/Corning-logo2.png" style='width: 140px;
                    padding-left: 10px;'>
                    <img *ngIf='!isProduction' src="../assets/img/BconeLogo_white.png" style='width: 150px;
                    padding-left: 10px;'>
                </div>
        
                <div *ngIf="errorMessage!=null" class="alert alert-danger">
                    {{ errorMessage }}
                </div>
    
                <h5 class='text-center'>Reset your password</h5>
        
                <span>Verification Code</span>
                <input style='margin-bottom:10px;' id="verificationCode" type="verificationCode" maxlength="50" 
                       [(ngModel)]="verificationCode" [ngModelOptions]="{standalone: true}">

                <span>New Password</span>
                <input readonly onfocus="if (this.hasAttribute('readonly')) { this.removeAttribute('readonly');
                // fix for mobile safari to show virtual keyboard
                this.blur();    this.focus();  }" id="newPassword" type="password" maxlength="25" 
                        length="40" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">

                <div class='text-center'>
                    <input  (click)="onNext()" id='nextbtn'  style='margin-top:25px;' type='submit' value='Reset Password' />
                </div>
                <a  class='forgot' style='cursor:pointer'  routerLink='/forgotpassword' ><i class='ti-arrow-left'></i> Resend Code</a>
                <p class='text-center'>Copyright &copy; {{test | date: 'yyyy'}}, Bristlecone All rights reserved.</p>
              
            </div>
        </div>
        