<div class='container-fluid'>
    
        <div class='login'>
            <div class='text-center' style='margin-bottom:35px'>
                <img src="../assets/img/neo-white2.png" 
                
                style='width: 80px; display: inline; border-right: 1px solid #fff;
                padding-right: 10px;'> 
                <img *ngIf='isProduction' src="../assets/img/Corning-logo2.png" style='width: 140px;
                padding-left: 10px;'>
                <img *ngIf='!isProduction' src="../assets/img/BconeLogo_white.png" style='width: 150px;
                padding-left: 10px;'>
            </div>
    
            <div *ngIf="errorMessage!=null" class="alert alert-danger">
                {{ errorMessage }}
            </div>

            <h5 class='text-center'>Forgot password</h5>
    
            <span>Username</span>
            <input [(ngModel)]="email" name='username' required autofocus  type='email' style='margin-bottom:10px;'/>
    
            <div class='text-center'>
                <input  (click)="onNext()" id='nextbtn'  style='margin-top:25px;' type='submit' value='Next' />
            </div>
            <a  class='forgot' style='cursor:pointer'  routerLink='/login' ><i class='ti-arrow-left'></i> Back to Signin</a>
            <p class='text-center'>Copyright &copy; {{test | date: 'yyyy'}}, Bristlecone All rights reserved.</p>
          
        </div>
    </div>
    