<footer class="footer col-md-12 col-sm-12 col-xs-12" style="padding:0px;">
    <div class="container-fluid">
        <!--<nav class="pull-left">
            <ul>

                <li>
                    <a href="https://www.creative-tim.com">
                        Creative Tim
                    </a>
                </li>
                <li>
                    <a href="http://blog.creative-tim.com">
                       Blog
                    </a>
                </li>
                <li>
                    <a href="https://www.creative-tim.com/license">
                        Licenses
                    </a>
                </li>
            </ul>
        </nav>-->
        <div id='footer-content' class="copyright pull-right" style='font-size:12px;padding-top:20px;'>
         
        </div>
    </div>
</footer>
